.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

.navigation {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.header .navigation {
  display: inline-block;
}
